<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div>
            <a href="{% url 'create_post' %}">Create New Post</a>
        </div>
    {% endif %}

    {% for post in posts %}
        <div>
            <h5>{{ post.title }}</h5>
            <p>{{ post.content|truncatewords:50 }}</p>
            <a href="{% url 'post_detail' post.slug %}">Read More</a>
        </div>

        <div>
            Posted on {{ post.date_posted }} by {{ post.author }}
        </div>
    {% endfor %}
</body>
</html>
